beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
gensim==4.3.2
idna==3.7
joblib==1.4.0
lxml==5.2.1
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.4.16
requests==2.31.0
scipy==1.13.0
six==1.16.0
smart-open==7.0.4
soupsieve==2.5
textblob==0.18.0.post0
tqdm==4.66.2
tzdata==2024.1
urllib3==2.2.1
wrapt==1.16.0
